<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <template v-for="(dept, _deptIndex) in deptList">
                <li>{{ _deptIndex }} - {{ dept.deptName }}</li>
            </template>
        </ul>
        <ul>
            <li v-for="( userValue, userKey, userIndex ) in user">
                {{ userIndex }} - {{ userKey }} - {{ userValue }}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue( {
            el: "#app",
            data: {
                deptList: [
                    { deptId: 1, deptName: "部门1" },
                    { deptId: 2, deptName: "部门2" },
                    { deptId: 3, deptName: "部门3" }
                ],
                user: {
                    name: "吴钦飞",
                    gender: "男"
                }
            }
        } );
    </script>

</body>
</html>