<div class="thumbnail">
  <img src="http://placehold.it/800x600" alt="">
  <div>
    <h4 class="pull-right">{{product.price}}元</h4>
    <h4>{{product.title}}</h4>
    <p>{{product.desc}}</p>
  </div>
  <div>
    <p class="pull-right">{{comments.length}}条评论</p>
    <p>
      <app-star [rating]="product.rating"></app-star>
    </p>
  </div>
</div>

<div class="well">
  <div class="row" *ngFor="let item of comments">
    <hr>
    <div class="col-md-12">
      <app-star [rating]="item.rating"></app-star>
      <span>{{item.user}}</span>
      <span class="pull-right">{{item.timestamp}}</span>
      <p></p>
      <p>{{item.content}}</p>
    </div>
  </div>
</div>
