<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{block 'title'}}My Site{{/block}}</title>

  <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/main.css">

  <!-- 留坑 -->
  {{ block 'head' }} 默认 head 内容 {{ /block }}

</head>
<body>

  {{ include './header.html' }}

  <!-- 留坑 -->
  {{ block 'content' }} 默认 content 内容 {{ /block }}

  {{ include './footer.html' }}

  <script src="/public/lib/jquery.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.js"></script>

  <!-- 留坑 -->
  {{ block 'script' }} 默认 script 内容 {{ /block }}

</body>
</html>