<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>值绑定</title>
    <script src="../../dep/vue/2.5.13/vue.js"></script>
</head>

<body>

<h1>复选框</h1>

<div id="example-1">
    <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
    >
</div>

<script>
    var vm = new Vue({
        el: '#example-1',
        data: {
            toggle: "yes"
        }
    })

    // 当选中时
    // vm.toggle === 'yes'
    // 当没有选中时
    // vm.toggle === 'no'
</script>


<h1>单选按钮</h1>

<div id="example-2">
    <input type="radio" v-model="pick" v-bind:value="a">
</div>
<script>
    var vm2 = new Vue({
        el: '#example-2',
        data: {
            pick: "checked",
            a: "hello"
        }
    })

    // 当选中时
    // vm2.a === "hello"
    // vm2.pick === "hello"
</script>


<h1>选择框的选项</h1>

<div id="example-3">
    <select v-model="selected">
        <!-- 内联对象字面量 -->
        <option v-bind:value="{ number: 123 }">123</option>
    </select>
</div>
<script>
    var vm3 = new Vue({
        el: '#example-3',
        data: {
            selected: {
                number: 0
            }
        }
    })

    // 当选中时
    // typeof vm3.selected // => 'object'
    // vm3.selected.number // => 123
</script>

</body>
</html>