<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> v-for object </title>
    <script src="../../dep/vue/2.5.13/vue.js"></script>
</head>

<body>

<ul id="v-for-object">
    <li v-for="value in object">
        {{ value }}
    </li>
</ul>

<script>
    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })
</script>

<ol id="example">
    <li v-for="(value, key) in object">
        {{ key }}: {{ value }}
    </li>
</ol>
<script>
    new Vue({
        el: '#example',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })
</script>

<ul id="example2">
    <li v-for="(value, key, index) in object">
        {{ index }}. {{ key }}: {{ value }}
    </li>
</ul>
<script>
    new Vue({
        el: '#example2',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })
</script>

</body>

</html>