<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> v-for with v-if </title>
    <script src="../../dep/vue/2.5.13/vue.js"></script>
</head>

<body>

<ul id="example">
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo.content }}
    </li>
</ul>

<script>
    var vm = new Vue({
        el: '#example',
        data: {
            todos: [  
                { content: "吃早饭", isComplete: true },
                { content: "吃中饭" }
            ]
        }
    })
    // vm.$data.todos[ 0 ].isComplete = false
</script>

<ul id="example">
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo.content }}
    </li>
</ul>

<script>
    var vm = new Vue({
        el: '#example',
        data: {
            todos: [  
                { content: "吃早饭", isComplete: true },
                { content: "吃中饭" }
            ]
        }
    })
    // vm.$data.todos[ 0 ].isComplete = false
</script>

</body>
</html>